@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* chrome, safari, edge, opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  color: rgb(var(--foreground-rgb));
}

&::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
&::-webkit-scrollbar-thumb {
  background-color: #ff3377;
}
&::-webkit-scrollbar-track {
  background-color: #000000;
}

.MuiDataGrid-main ::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
.MuiDataGrid-main ::-webkit-scrollbar-thumb {
  background-color: #4d62d9;
  border-radius: 6px;
}
.MuiDataGrid-main ::-webkit-scrollbar-track {
  background-color: #92a1f8;
}

.pro-sidebar-inner {
  backdrop-filter: blur(8px);
}

.hero-animation {
  background-image: linear-gradient(147.92deg, #ff3366 10.41%, #000 89.25%);
  animation: changeBackgroundColor 8s infinite alternate;
}

@keyframes changeBackgroundColor {
  0%,
  100% {
    opacity: 1;
  }
  16.67% {
    opacity: 0.9;
  }
  33.33% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.6;
  }
  66.67% {
    opacity: 0.5;
  }
  83.33% {
    opacity: 0.4;
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  60% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}

.Toastify__toast-container {
  z-index: 999999 !important;
}
